.viewlistheaders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--color1);
    padding: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.viewlistitem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    color: var(--color3);
}

.viewlistitem:hover {
    border: 2px solid var(--color1);
    border-width: -2px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
}

.viewlistcontainer {
    width: 100%;
}