.accountviewlistheaders {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:2px solid #14A76C;
    padding:10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.accountviewlistitem {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:10px;
    box-sizing:border-box;
    font-size:17px;
    color:#33363F;
}

.accountviewlistitem:hover {
    border:2px solid #14A76C;
    border-width: -2px;
    cursor:pointer;
    box-sizing: border-box;
    font-weight:bold;
}

.accountviewlistcontainer {
    width:100%;
}