.calendar_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  min-width: 395px;
}

.calendar_header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
}

.calendar_header_helpicon {
  position: absolute;
  right: 20px;
}

.calendar_day_content {
  margin-top: 6px;
}

.calendar_loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color8);
  opacity: 0.6;
}

.calendar_header span {
  width: calc(100% / 7);
  min-width: 65px;
  text-align: center;
  background: var(--color8);
  padding: 5px;
  font-size: 15px;
}

.calendar_day {
  width: calc(100% / 7);
  min-width: 65px;
  text-align: center;
  background: var(--color8);
  padding: 5px;
  min-height: 80px;
  font-size: 13px;
}

.calendar_day_header {
  display: flex;
  justify-content: space-between;
}

.calendar_day:hover {
  cursor: pointer;
}

.calendar_week {
  display: contents;
}

.calendar_month_select {
  width: 200px;
}

.calendar_week:hover > * {
  /*cursor: pointer;
  border-bottom: 1px solid var(--color1);
  border-top: 1px solid var(--color1);*/
}

.calendar_week:first-child:hover {
  border-left: 1px solid var(--color1);
}

.calendar_week:last-child:hover {
  border-right: 1px solid var(--color1);
}

.calendar_edit_input {
  flex-shrink: 1;
  font-size: 13px;
  width: 100%;
  max-width: 60px;
}
