.display_container {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  min-width: 1000px;
}

.display_row {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  min-width: 1000px;
  width: 90%;
  gap: 10px;
  background-color: var(--color8);
}

.display_row_scrollable {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  min-width: 1000px;
  width: 90%;
  gap: 10px;
  margin-bottom: 20px;
}

.display_header {
  box-sizing: border-box;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90%;
  min-width: 1000px;
  background-color: var(--color3);
  color: var(--color8);
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  padding: 20px;
}

.display_section {
  flex: 1;
  position: relative;
  padding: 10px;
  min-width: 530px;
}

.display_section_nowrap {
  flex: 1;
  position: relative;
  padding: 10px;
  min-width: 530px;
  white-space: nowrap;
}

.display_section_header {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  color: var(--color8);
  padding: 12px;
  box-sizing: border-box;
  margin: 0;
  flex: 1;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.display_section_header_2 {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color3);
  padding: 12px;
  font-size: 0.9rem;
  box-sizing: border-box;
  margin: 0;
  flex: 1;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.display_section_content {
  color: var(--color3);
  position: relative;
}

.display_section_content_data_display {
  display: contents;
}

.display_section_content_data_display div {
  background: var(--color8);
}

.display_section_content_data_display:nth-child(odd) div {
  background: var(--color9);
}
