.formsection_row {
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:15px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}

.formsection_center_content {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

.formsection_mass_control_group {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width:700px;
}

.formsection_control_group {
    padding:10px;
    color:#b2b0bd;
}

.formsection_control_header {
    margin-bottom:10px;
    text-decoration: underline;
}

.formsection_control_option {
    font-size:0.75em;
    display:flex;
    gap:10px;
    align-items:center;
    justify-content: left;
}

.formsection_row_even {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    gap:15px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}

.formsection {
    box-sizing: border-box;
    margin-top:10px;
    width:400px;
}

.formsectionfull {
    box-sizing: border-box;
    margin-top:10px;
    width:100%;
}
.formsectionhalf {
    box-sizing: border-box;
    margin-top:10px;
    width:50%;
}

.formsectionthird {
    box-sizing: border-box;
    margin-top:10px;
    width:33.33%;
}

.formsection_header {
    width:100%;
    background-color: #14A76C;
    color: white;
    box-sizing: border-box;
    padding:10px;
    font-size:16px;
}

.formsection_content {
    width:100%;
    box-sizing: border-box;
    padding-top:6px;
}

.formsection_line {
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}
.formsection_line_width_unset {
    display:flex;
    justify-content: space-between;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}

.formsection_line_centered {
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}

.formsection_line_centered_between {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
}

.formsection_input_centered_text_button {
    justify-content: center;
    display:flex;
    color:#14A76C;
    padding-top: 4px;
    padding-bottom: 4px;
}

.formsection_input_centered_text {
    text-align: left;
    display:flex;
    color:#b2b0bd;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size:0.8em;
}

.formsection_line_rightjustify {
    width:100%;
    display:flex;
    justify-content: right;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
    flex-wrap:nowrap;
}

.formsection_line_leftjustify {
    width:100%;
    display:flex;
    justify-content: left;
    gap:8px;
    box-sizing: border-box;
    padding-top:4px;
    padding-bottom:4px;
    align-items: center;
    color:#b2b0bd;
    flex-wrap:nowrap;
}

.formsection_input {
    box-sizing: border-box;
    border:1px solid #b2b0bd;
    border-radius:9px;
    flex: 1;
    padding:8px;
    width:100%;
}

.formsection_input_2 {
    box-sizing: border-box;
    border:1px solid #b2b0bd;
    border-radius:9px;
    flex: 1;
    padding:8px;
    width:100%;
    height:50px;
    font-size:1em;
}

.formsection_input_fixed {
    box-sizing: border-box;
    border:1px solid #b2b0bd;
    border-radius:9px;
    padding:8px;
    width:40px;
}

.formsection_input_fixed_2 {
    box-sizing: border-box;
    border:1px solid #b2b0bd;
    border-radius:9px;
    padding:8px;
    width:120px;
}

.formsection_label_1 {
    width:130px;
    text-align: right;
}

.formsection_input_option {
    color :#b2b0bd;
}

.formsection_input::placeholder {
    color: #b2b0bd;
}

.formsection_input_2::placeholder {
    color: #b2b0bd;
}

.formsection_input_fixed::placeholder {
    color: #b2b0bd;
}

.formsection_input_fixed:focus {
    outline: none;
}

.formsection_input:focus {
    outline: none;
}

.formsection_subheader {
    padding:10px;
    border:1px solid #14A76C;
}

.formsection_subheader_title {
    color:#b2b0bd;
    font-size:15px;
    display:inline-block;
    width:100%;
    margin-bottom:6px;
}

.formsection_validation_error {
    border-color:#ffaca6;
    border-width:2px;
}
  