body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#pagewrap_master {
    display: flex;
    overflow:hidden;
    width:100%;
    height:100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding:0;
    margin:0;
}

#pagewrap,
#rightslide {
    overflow:hidden;
    height:100vh;
    position: fixed;
    top: 0;
    padding:0;
    margin:0;
}

#pagewrap {
    left: 0;
    width:100%;
    background-color: white;
    min-width:650px;
}

.login_wrapper {
    position:absolute;
    display:inline-block;
    justify-content: space-between;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:black;
    overflow: hidden;
}

.login_wrapper_bg {
    position:absolute;
    background-image: url('../img/bg1.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-width: 500px;
    overflow:hidden;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

.login_page_backer {
    width:440px;
    position: fixed;
    top: 45vh; /* Adjust the percentage as desired */
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login_page_content {
    background-color: white;
    width:100%;
    height:100%;
    padding-left:55px;
    padding-right:55px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:10px;
    border-radius:9px;
    box-sizing: border-box;
}

#topbar_container {
    height:140px;
    width:100%;
    background-color: #33363F;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    box-sizing: border-box;
    padding-left:22px;
    padding-right:22px;
    padding-top:0px;
    padding-bottom:0px;
    font-weight: bold;
    border-bottom:1px solid black;
}

.sitelogo {
    height:140px;
    font-size:30px;
    line-height:140px;
    color:white;
    box-sizing: border-box;
    text-align:center;
    display:flex;
    align-items: center;
}

#leftpane_container {
    width:228px;
    top:160px;
    left:8px;
    bottom:20px;
    position:absolute;
    box-sizing: border-box;
    padding:0;
}

#rightpane_container {
    left: 250px;
    top:160px;
    right:8px;
    bottom:20px;
    position:absolute;
    box-sizing: border-box;
    border-radius: 9px;
    overflow:hidden;
    padding:0;
    border: 1px solid #33363F;
}

.rightpane_fullheader {
    width:100%;
    background-color: #33363F;
    color:white;
    padding:12px;
    box-sizing: border-box;
    margin:0;
}

#rightpane_header {
    box-sizing: border-box;
    overflow: hidden;
    padding:0px;
}
#rightpane_viewport {
    position:absolute;
    overflow-y: auto;
    box-sizing: border-box;
    padding:0px;
    bottom:40px;
    right:10px;
    left:10px;
}
#rightpane_footer {
    box-sizing: border-box;
    position:absolute;
    padding:0px;
    padding:0px;
    bottom:0px;
    right:10px;
    left:10px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

#rightpane_container::-webkit-scrollbar {
    display: none;
}

.rightpane_textheader {
    border-bottom:1px solid #14A76C;
    color:#14A76C;
    width:100%;
    background-color:#33363F;
    padding:10px;
}

.leftpanebutton {
    background-color: #33363F;
    height:63px;
    line-height: 63px;
    width: 100%;
    color: white;
    display:flex;
    align-items:center;
    letter-spacing: 1px;
}

.leftpanebutton:hover {
    color: #14A76C;
    cursor:pointer;
    font-weight:bold;
}

.leftpanebuttonicon {
    margin-right:10px;
    margin-left:10px;
}

.img_icon {
    width: 30px;
    height:30px;
}

.img_icon_small {
    width:20px;
    height:20px;
}

.listheaderbutton {
    width:auto;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    padding-right:12px;
    max-height:30px;
    height:20px;
    font-size:20px;
    background-color:#33363F;
    color:white;
    border-radius:9px;
    border: 2px solid #14A76C;
    display:inline-flex;
    align-items: center;
}

.listheaderbutton:hover {
    color:#14A76C;
    cursor:pointer;
}

.listheaderbuttoncontainer {
    padding-bottom:5px;
    padding-top:5px;
    width:100%;
}

.loadingicon1 {
    max-width:100%;
    max-height:100%;
    text-align:center;
    vertical-align: middle;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.topright_pane {
    position:absolute;
    right:30px;
    box-sizing: border-box;
    height:100%;
    width:320px;
    top:0px;
}

.searchboxholder {
    position:absolute;
    bottom:55px;
    right:0px;
    left:0px;
    display:flex;
    align-items: center;
}

.searchboxholder img {
    position:absolute;
    width:22px;
    height:22px;
    right:14px;
    background-color: white;
    border-radius:9px;
}

.searchboxholder input {
    position:absolute;
    width:100%;
    font-size:20px;
    padding:5px;
    line-height: 30px;
    border-radius:9px;
}

.searchboxholder input::placeholder {
    color: hsl(0, 0%, 41%);
}

.topbarbuttons {
    position:absolute;
    right:10px;
    top:15px;
}

.topbarloginnote {
    position:absolute;
    bottom:8px;
    right:0px;
    left:0px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#14A76C;
    font-size:0.6em;
}

.topbarbuttons img {
    width:32px;
    height:32px;
    padding:3px;
}